/**Variables for project**/

//Main colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(170, 170, 170);
$dark_gray: rgb(42, 44, 46);
$light_black: rgb(48, 48, 51);

//Hover effect colors
$red: rgb(255, 66, 41);
$yellow: rgb(215, 188, 135);

//Transition variables

$slow: 0.7s ease-in-out;
$normal: 0.5s ease-in-out;
$fast: 0.3s ease-in-out;
